<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yi.taoyuan">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.易经宝典重制版">
        <activity android:name=".AnyaoActivity2"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".QiguaActivity2"
            android:screenOrientation="portrait"/>
        <activity android:name=".YaoActivity2"
            android:screenOrientation="portrait"/>
        <activity android:name=".ZhiActivity2"
            android:screenOrientation="portrait"/>
        <activity android:name=".AnzhiActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>